
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #fd84a5;
    font-size: 40px;
    padding: 6%;
    padding-left: 4%;
    width: 100%;
}

.logo {
    width: 50px;
    height: auto;
}

#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin:  0%;
    font-size: 29px;
    font-weight: bold;
}

#picture {
    display: flex;
    background-color: #fd84a5;
    margin: 7%;
    padding: 3% 12%;
    align-items: center;
    justify-content: space-between;
    border-radius: 31px;
    font-size: 20px;
    text-align: center;
}

#picture .infoicone  img{
    width: 90px;
    height: auto;
    margin-top: 10%;
}

#picture #ou {
    margin-top: 250%;
}

#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: #fd84a5;
    font-size: 20px;
    border-radius: 42px 42px 0px 0px ;
    padding-top: 5%;
}

#titlerecipe {
    font-size: 24px;
}

.recipe-card {
    width: 100%;
    padding: 7px;
    margin: 4%;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
}

.recipe-card img {
    width: 100%;
    border-radius: 30px;
}

.recipe-info {
    margin: 2%;
    margin-bottom: 5%;
}

/* BOUTON GENERER pour changer la position change right et bottom */
#buttonsgenerercontainer{
    position: fixed;
    bottom: 10px;
    left: 5%;
    width: 80%;
    height: 10%;;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    z-index: 1;
    font-size: 25px;
    font-family: "Arial Rounded MT Bold", "Poppins", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    flex-wrap: nowrap;
  color: #ff8bb3;
  text-shadow:
    -2px -2px 0 #ffffff,
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff;

  background: linear-gradient(
    to bottom,
    #b9ffff 0%,
    #6ee7f0 50%,
    #4cd1dc 100%
  );

  border: 3px solid #5ccad4;

  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#buttonsgenerercontainer:active {
  transform: translateY(4px);
  box-shadow:
    inset 0 2px 0 rgba(255,255,255,0.6),
    inset 0 -3px 0 rgba(0,0,0,0.2),
    0 2px 0 #3aaab5;
}

#logogenerer{
    width: 40px;
    height: 40px;
    margin-right: 10px;

}
#btngenerer{
    display: flex;
    justify-content:space-around;
    align-items:center;
    cursor: pointer;
    
}

#fileButton {
    position: absolute;
    padding: 16px 32px;
    left: 30px;
    top: 270px;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
}

/* OVERLAY FULLSCREEN */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* caché par défaut */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* CARD BLANCHE */
.preview-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* TEXTE */
.loading-text {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* HTML: <div class="loader"></div> */
.loader {
    margin-top: 20px;
  color: #000;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}

/* IMAGE */
#previewOverlay {
    width: 100%;
    border-radius: 15px;
}




@media screen and (min-width: 1280px) {
    main {
        display:flex;
        flex-wrap: nowrap;
        width: 80%;
        justify-content: center;
    }
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #ou {
        margin-left:20%;
    }


    #buttonsgenerercontainer{
        left: 9.23%;
    }
    #recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: #fd84a5;
    font-size: 20px;
    border-radius: 42px 42px 0px 0px ;
    padding-top: 5%;
    width: 80%;
    margin-top: 75px;
}

    .recipe-card {
    width: 80%;
    padding: 7px;
    margin: 4%;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
}

#picture {
    display: flex;
    background-color: #fd84a5;
    margin: 7%;
    padding: 3% 12%;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    font-size: 20px;
    text-align: center;
    height: 300px;
    width: 200px;
}

#picture .infoicone  img{
    width: 90px;
    height: auto;
    margin-top: 10%;
    margin: 20px;
}



}